<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.quiz.comm.mapper.CodeMapper">

<!-- 단건조회  -->
	<select id="getCode" parameterType="CodeVO" resultType="CodeVO">
		SELECT  *
		FROM COMMON
		WHERE CD = #{cd}
	</select>
	
<!-- 상세 코드 조회  -->	
	<select id="getCodeList" resultType="CodeVO">
		SELECT  *
		  FROM COMMON
		 WHERE GP_CD = #{gpCd}
		 ORDER BY NM
	</select>

<!-- 코드 등록  -->
    <insert id="insertCode" parameterType="CodeVO">
        INSERT INTO COMMON (	CD
								,NM
								,GP_CD
								,USE_YN
                            )
                    VALUES ( 	#{cd},
                                #{nm},
                                #{gpCd},
                                #{useYn}
                            )
    </insert>
    
<!-- 그룹 코드 조회  -->   
	<select id="getGpCodeList" resultType="CodeVO">
		SELECT  *
		  FROM COMMON
		 WHERE GP_CD is null
		 ORDER BY NM
	</select>  
</mapper>
