<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.yedam.quiz.question.mapper.QuestionMapper">
	<insert id="insertQuestion">
		<selectKey keyProperty="examNo" resultType="int" order="BEFORE">
			SELECT
			NVL(MAX(EXAM_NO),1) FROM EXAM
		</selectKey>
		
		INSERT INTO Question VALUES (
		#{examNo},
		#{quizNo},
		#{qestnOrd},
		#{qestnScor}
		)
	</insert>
</mapper>
  