<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
	<div class="sb-sidenav-menu">
		<div class="nav">
					
			<div class="sb-sidenav-menu-heading">샘플</div>
			<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
				data-bs-target="#collapseLayouts" aria-expanded="false"
				aria-controls="collapseLayouts">
				<div class="sb-nav-link-icon">
					<i class="fas fa-columns"></i>
				</div> 사원관리
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseLayouts"
				aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
				<nav class="sb-sidenav-menu-nested nav">
					<a class="nav-link" href="empList">사원목록</a>
					<a class="nav-link" href="insertFormEmp">사원등록</a>
				</nav>
			</div>
		
			<div class="sb-sidenav-menu-heading">기초자료</div>
			<a class="nav-link" href="index.html">
				<div class="sb-nav-link-icon">
					<i class="fas fa-tachometer-alt"></i>
				</div> 과정등록
			</a>
			<a class="nav-link" href="index.html">
				<div class="sb-nav-link-icon">
					<i class="fas fa-tachometer-alt"></i>
				</div> 수강생등록
			</a>
			
			<div class="sb-sidenav-menu-heading">문제은행</div>
			<a class="nav-link" href="index.html">
				<div class="sb-nav-link-icon">
					<i class="fas fa-tachometer-alt"></i>
				</div> 문제등록
			</a>
			<a class="nav-link" href="quizList">
				<div class="sb-nav-link-icon">
					<i class="fas fa-tachometer-alt"></i>
				</div> 문제관리
			</a>
			
			<div class="sb-sidenav-menu-heading">시험지관리</div>
			<a class="nav-link" href="examRegistForm">
				<div class="sb-nav-link-icon">
					<i class="fas fa-tachometer-alt"></i>
				</div> 시험지등록
			</a>
			<a class="nav-link" href="examList">
				<div class="sb-nav-link-icon">
					<i class="fas fa-tachometer-alt"></i>
				</div> 시험지관리
			</a>
			
			<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
				data-bs-target="#collapsePages" aria-expanded="false"
				aria-controls="collapsePages">
				<div class="sb-nav-link-icon">
					<i class="fas fa-book-open"></i>
				</div> Pages
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
				data-bs-parent="#sidenavAccordion">
				<nav class="sb-sidenav-menu-nested nav accordion"
					id="sidenavAccordionPages">
					<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
						data-bs-target="#pagesCollapseAuth" aria-expanded="false"
						aria-controls="pagesCollapseAuth"> Authentication
						<div class="sb-sidenav-collapse-arrow">
							<i class="fas fa-angle-down"></i>
						</div>
					</a>
					<div class="collapse" id="pagesCollapseAuth"
						aria-labelledby="headingOne"
						data-bs-parent="#sidenavAccordionPages">
						<nav class="sb-sidenav-menu-nested nav">
							<a class="nav-link" href="login.html">Login</a> <a
								class="nav-link" href="register.html">Register</a> <a
								class="nav-link" href="password.html">Forgot Password</a>
						</nav>
					</div>
					<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
						data-bs-target="#pagesCollapseError" aria-expanded="false"
						aria-controls="pagesCollapseError"> Error
						<div class="sb-sidenav-collapse-arrow">
							<i class="fas fa-angle-down"></i>
						</div>
					</a>
					<div class="collapse" id="pagesCollapseError"
						aria-labelledby="headingOne"
						data-bs-parent="#sidenavAccordionPages">
						<nav class="sb-sidenav-menu-nested nav">
							<a class="nav-link" href="401.html">401 Page</a> <a
								class="nav-link" href="404.html">404 Page</a> <a
								class="nav-link" href="500.html">500 Page</a>
						</nav>
					</div>
				</nav>
			</div>
			
<!-- 			<div class="sb-sidenav-menu-heading">Addons</div>
			<a class="nav-link" href="charts.html">
				<div class="sb-nav-link-icon">
					<i class="fas fa-chart-area"></i>
				</div> Charts
			</a> <a class="nav-link" href="tables.html">
				<div class="sb-nav-link-icon">
					<i class="fas fa-table"></i>
				</div> Tables
			</a> -->
		</div>

	</div>
	<div class="sb-sidenav-footer">
		<div class="small">Logged in as:</div>
		Start Bootstrap
	</div>
</th:block> 
</html>                       