<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
	<title>온라인 퀴즈응시 시스템</title>
	<link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">온라인 퀴즈응시 시스템</h3></div>
                                    <div class="card-body">
                                        <form id="info" action="mypage" method="post" onsubmit="return false">
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="stdNo" name="stdNo" type="text" placeholder="학번" required/>
                                                <label for="studentNo">학번</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="stdNm" name="stdNm" type="text" placeholder="이름" required />
                                                <label for="studentName">이름</label>
                                            </div>                                         
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small"></a>
                                                <button type="button" class="btn btn-primary" onclick="javascript:login();">로그인</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a>학번을 잘 모르실 경우 담당자에게 문의바랍니다.</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
              <div id="message" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">              
                  <strong class="me-auto">Message</strong>               
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    학번과 이름을 확인해주시기 바랍니다.
                </div>
              </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                             <div class="text-muted">Copyright &copy; 예담직업전문학교 2022</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script>
        function login(){
    		fetch('loginInfo',{
                method : 'POST',
                body : new FormData(info)
            })
            .then(response => response.text())
            .then(data => {
                if(data == "fail"){
                    const toastLiveExample = document.getElementById('message');
                    const toast = new bootstrap.Toast(toastLiveExample);
                    toast.show();
                }else{
                    info.submit();
                }
            })
            .catch(reject => console.log(reject)); 
    	}
        </script>
    </body>
</html>