<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<meta charset="UTF-8">

<th:block layout:fragment="content">

	<h1 class="mt-4">시험지 등록</h1>

	<form action="examRegist" method="get">
		<!-- <div class="form-gruop"> -->
		<label> 시험명 *</label>
		<input type="text" class="form-control" placeholder="자바 개념 시험지" id="examNm" name="examNm" required> <br>
		<label> 시험 설명</label>
		<textarea class="form-control" rows="3" cols="1" placeholder="시험설명 입력"></textarea>
		<br>
		<div class="row">
			<div class="col-sm-2">
				<label> 강의실 *</label>
				<input type="text" class="form-control"	placeholder="1강의실" id="ltRoom" name="ltRoom" required>
			</div>
			<div class="col-sm-2">
				<label> 응시인원 *</label>
				<input type="text" id="rcntCt" name="rcntCt" class="form-control" placeholder="22" required>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-2">
				<label> 응시시작일 *</label>
				<input type="date" id="startDttm" name="startDttm" class="form-control" required>
			</div>
			<br>
			<div class="col-sm-2">
				<label> 응시종료일 * </label>
				<input type="date" id="endDttm"	name="endDttm" class="form-control" required>
			</div>
			<br>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-1">
			<label> 카테고리 *</label>
			</div>
			<div class="col-sm-11">
			<!-- DB에 있는 카테고리 호출 예정, 예시로 3개만 코딩 -->
			<input type="checkbox" id="java" name="java"> <label> 자바 </label>  &nbsp;&nbsp; 
			<input type="checkbox" id="HTML" name="HTML"> <label> HTML </label> &nbsp;&nbsp;
			<input type="checkbox" id="CSS" name="CSS"> <label> CSS </label> &nbsp;&nbsp;
			</div>
			<br><br>
			<div class="col-sm-1">
			<label> 수동/자동 *</label>
			</div>
			<div class="col-sm-11">
			<!-- 수동 / 자동값에 따라서 문제 내용이 달라져야함. -->
			<!-- 수동 / 자동 클릭 후 카테고리 변경이 일어 난다면, 바뀌어야 함. 클릭이벤트 넣어줘야 함 -->
			<input type="checkbox" id="manual" name="manual"> <label> 수동 </label> &nbsp;&nbsp;
			<input type="checkbox" id="auto" name="auto"> <label> 자동 </label> &nbsp;&nbsp;
			</div>
			<br><br>
			<div class="col-sm-12">
			<label>문제 리스트 *</label>
			
			<table class="table table-hover" id="quiz">
				<thead>
						<tr>
							<th>퀴즈 선택 여부</th>
							<th></th>
							<th>제목</th>
							<th>배점</th>
						</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input type="checkbox" value="N">
						</td>
						<td>
							자바	
						</td>
						<td>
							자바
						</td>
						<td>
							5
						</td>
					</tr>
					<tr>
						<td>
							<input type="checkbox" value="N">
						</td>
						<td>
							JSP	
						</td>
						<td>
							JSP
						</td>
						<td>
							5
						</td>
					</tr>
					<tr>
						<td>
							<input type="checkbox" value="N">
						</td>
						<td>
							HTML	
						</td>
						<td>
							HTML
						</td>
						<td>
							10
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<br> 
			<label> 사용여부 </label>
			<input type="checkbox" id="useYn" name="useYn">
		<br><br>
			<div class="col-sm-2">
				<label>	총점 *</label>
				<input type="text" class="form-control" id="ttScor" name="ttScore" required>
			</div>
		<br>
		<div>
		<label>훈련생 리스트</label>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>이름</th>
					<th>이메일</th>
					<th>전화번호</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>박</td>
					<td>111@11.com</td>
					<td>010-1111-1111</td>
				</tr>
				<tr>
					<td>이</td>
					<td>222@22.com</td>
					<td>010-2222-2222</td>
				</tr>
				<tr>
					<td>김</td>
					<td>333@33.com</td>
					<td>010-3333-3333</td>
				</tr>
			</tbody>
		
		</table>
		</div>
		<div class="d-flex justify-content-center">
		<input type="submit" class="btn btn-dark" onclick="test" value="등록">
		</div>
	</form>
	<script>
	</script>
</th:block>