<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">

	<style>
		.ctnt { cursor : pointer; text-decoration: underline; }
		#frmList th, #frmList td { text-align: center}
	</style>
	<!--  페이지 타이틀 -->
	<h1 class="mt-4">학생관리</h1>
	<!-- breadcrump / 도움말 -->
    <ol class="breadcrumb mb-4">
	    <li><a class="float-right" data-bs-toggle="collapse" href="#collapseHelp" role="button" aria-expanded="false" aria-controls="collapseHelp">
       	<img src="assets/img/free-icon-help-6269920.png" width="20px"></a></li>
        <li class="breadcrumb-item"><a href="index.html">학생관리</a></li>
    </ol>		
  
    <!--  페이지 도움말 시작 -->
	<div class="collapse  g-3 mb-2" id="collapseHelp">
		<div class="card card-body">학생관리.<br>. <br>. <br>.</div>
	</div>
    <!--  페이지 도움말 종료 -->
    
	<div class="card mb-4">
	    <!--  검색 폼 시작 -->
        <!-- <i class="fas fa-table me-1"></i> -->
        <div class="card-header">
			<form name="frmSearch" id="frmSearch">
				<input type="hidden" name="page" value="1">
				<div class="row g-3">
					<label for="corsNo" class="col-sm-1 col-form-label text-end">과정</label>
					<div class="col-sm-8">
						<select class="form-select" aria-label="Default select example" id="corsNo" name="corsNo" >
						  <option selected value="">과정선택</option>  
						  <option th:each="cors : ${corss}" 
						          th:value="${cors.corsNo}" th:text="|${cors.ltRoom}강 ${cors.corsNm}(${#strings.substring(cors.sdt,0,10)}~${#strings.substring(cors.edt,0,10)})|"
						          th:selected="${cors.corsNo}==${stdVO.corsNo}"></option>
						</select> 
					</div>
				</div>
				<div class="row g-3">
					<label for="sbjtCd" class="col-sm-1 col-form-label text-end">이름</label>
					<div class="col-sm-3">
						<input class="form-control" id="stdNm" name="stdNm" > 
					</div>
				</div>
				<div class="row g-3">
					<label for="useYn" class="col-sm-1 col-form-label text-end">사용여부</label>
					<div class="col-sm-3">
						<!-- <select name="useYn" id="useYn" class="form-select"><option value="Y">사용<option value="N">미사용</select> -->
						<div class="form-check form-switch">
						  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="useYn" value="1" checked>
						</div>  
					</div>
				</div>
				<div class="row g-3 justify-content-end">
					<div class="btn-group col-sm-3" role="group">
						<button type="submit" class="btn btn-primary" id="btnSearch">검색</button>
						<button type="button" class="btn btn-warning" id="btnInit">초기화</button>
					</div>
				</div>
			</form>
		</div>
		<!--  검색폼 종료 -->

	
		<!--  문제 목록 시작 -->
        <div class="card-body">
			<!--  버튼 그룹 시작 -->
			<div class="g-3 text-end">
				<button type="button" class="btn btn-outline-primary" id="btnOptDel">선택삭제</button>
				<button type="button" class="btn btn-outline-primary" id="btnOptUse">선택사용</button>
				<button type="button" class="btn btn-outline-primary" id="btnOptNoUse">선택미사용</button>
				<button type="button" class="btn btn-outline-primary" id="btnExcelDown">엑셀다운로드</button>
				<button type="button" class="btn btn-outline-primary" id="btnBatchReg">엑셀업로드</button>
				<button type="button" class="btn btn-outline-primary" id="btnReg">개별등록</button>
			</div>
			<!--  버튼 그룹 종료 -->
        	<form id="frmList" name="frmList">
			<table class="table">
				<thead>
					<tr>
						<th>선택</th>
						<th>과정명</th>
						<th>강의실</th>
						<th>기간</th>
						<th>번호</th>
						<th>이름</th>
						<th>출생년도</th>
						<th>사용여부</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="std : ${stdList}">
						<td><input type="checkbox" name="stdNo" th:value="${std.stdNo}"></td>
						<td th:text="${std.corsNm}">자바개발자</td>
						<td th:text="${std.ltRoom}">1강의실</td>
						<td th:text="|${#calendars.format(std.sdt,'yyyy/MM')} ~ ${#calendars.format(std.edt,'yyyy/MM')}|">2201~2210</td>
						<td th:text="${std.stdNo}">2020101</td>
						<td th:text="${std.stdNm}">홍길동</td>
						<td>[[${std.year}]]년생</td>
						<td th:text="${std.useYn}">Y</td>
					</tr>
				</tbody>
			</table>
			</form>
		</div>
     </div>
     <!--  문제 목록 종료 -->
     
    <!-- 페이징 시작 -->
	<nav aria-label="...">
	  <ul class="pagination">
	    <li class="page-item" th:classappend="${paging.startPage} == 1 ? disabled">
	        <a class="page-link" th:href="|javascript:gopage(${paging.startPage})|">Previous</a></li>

	    <li th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}" 
	        class="page-item" 
	        th:addclass="${num} == ${paging.page} ? active">
	        <a class="page-link" th:href="|javascript:gopage(${num})|"  th:text="${num}">2</a></li>
	    
	    <li class="page-item" th:classappend="${paging.endPage} <= ${paging.lastPage} ? disabled">
	        <a class="page-link" th:href="|javascript:gopage(${paging.endPage})|">Next</a></li>
	  </ul>
	</nav>
	<!-- 페이징 종료 -->
	
	
	<!-- Modal 시작 -->
	<div class="modal fade" id="stdModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel">일괄등록</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form name="frmUpload">
	        	<!--  과정  -->
	        	<div class="mb-3 row">
	        		<label for="corsNo" class="col-sm-3 col-form-label">과정</label>
					<div class="col-sm-8">
						<select class="form-select" aria-label="Default select example" id="corsNo" name="corsNo" >
						  <option selected value="">과정선택</option>  
						  <option th:each="cors : ${corss}" 
						          th:value="${cors.corsNo}" th:text="|${cors.ltRoom}강 ${cors.corsNm}(${cors.sdt}~${cors.edt})|"></option>
						</select> 
					</div>
				</div>
				
				<!--  업로드 파일  -->
				<div class="mb-3 row">
				  <label for="file" class="col-sm-3 col-form-label">엑셀파일</label>
				  <div class="col-sm-8">
				    <input type="file" id="file" name="file"> 
				  </div>
				</div>	
				
				<div  class="text-center">
					<button type="button" class="btn btn-success" id="btnSave">저장</button>
					<button type="button" class="btn btn-warning" id="close">종료</button>
				</div>
	        </form>
	      </div>
<!-- 	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div> -->
	    </div>
	  </div>
	</div>
	<!-- Modal 종료 -->
	
	<script>
	function gopage(p){
		frmSearch.page.value = p;
		frmSearch.submit();		
	}
	
	$(function(){
		
		//모달초기화
		let smodal = new bootstrap.Modal('#stdModal', {})
		
		searchProc();		//검색
		initProc();			//초기화
		optDelProc();  		//선택삭제
		optUseProc();  		//선택사용
		optNoUseProc();		//선택미사용
		excelDownProc();	//엑셀다운로드
		regProc();			//개별등록
		batchPopup();		//일괄등록팝업
		batchRegProc();		//일괄등록
		
		
		/*--------------
		검색 버튼 핸들러
		----------------*/
		function searchProc(){
			$("#btnSearch").on("click", function(){
				$("#frmSearch").submit();
			})
		}
		
		/*--------------
		초기화
		----------------*/
		function initProc(){
			$("#btnInit").on("click", function(){
				frmSearch.reset();
				$("#frmSearch").find('select, type:text').each(function(){
					$(this).val('');
				});
/*				
				$("#frmSearch").find(':radio, :checkbox').each(function(){
					$(this).val([]);
				});
*/
			})

		}		
		
		/*--------------
		선택삭제 버튼 핸들러
		----------------*/
		function optDelProc(){
			$("#btnOptDel").on("click", function(){
	
			})
		}
		
		
		/*--------------
		선택사용 버튼 핸들러
		----------------*/
		function optUseProc(){
			$("#btnOptUse").on("click", function(){
				useYnChangeProc('1');			
			})
		}

		/*--------------
		선택미사용 버튼 핸들러
		----------------*/
		function optNoUseProc(){
			$("#btnOptNoUse").on("click", function(){
				useYnChangeProc('0');
			})
		}
		
		/*--------------
		선택미사용 서버 처리 ajax 요청
		----------------*/
		function useYnChangeProc(useYn){
			let data = {useYn : useYn, stdNo : [] };
			//선택된 퀴즈번호를 파라미터로 만듬
			$("#frmList [name=stdNo]:checked").each(function(i,el){
				data.stdNo.push(el.value);
			});
			
			if( ! confirm(data.stdNo + " 선택된 학생 상테를 변경할까요?") ) {
				return;
			}
			//사용여부 변경 요청
			$.ajax({
				url : "stdUpdateUseYn",
				method : 'post',
				data : JSON.stringify(data),
				contentType : "application/json",
				dataType : 'json'
			}).done(function(result){
				alert(result.cnt + '건이 처리되었습니다.');
				location.reload();
			});	
		}
		/*--------------
		엑셀다운로드 버튼 핸들러
		----------------*/		
		function excelDownProc(){
			$("#btnExcelDown").on("click", function(){
				
			})
		}
		

		/*--------------
		개별등록 버튼 핸들러
		----------------*/	
		function regProc(){
			$("#btnReg").on("click", function(){
				location.href="/stdReg"
			})
		}
		
		/*--------------
		일괄등록(엑셀업로드) 팝업 버튼 핸들러
		----------------*/			
		function batchPopup(){
			$("#btnBatchReg").on("click", function(){
				
				//모달 show
				smodal.show( document.getElementById("stdModal") );
				document.frmUpload.reset();
			})
		}
		
		/*--------------
		일괄등록(엑셀업로드) 버튼 핸들러
		----------------*/			
		function batchRegProc(){
			$("#btnSave").on("click", function(){
				  const excelFile = $("#file")[0];

				  if(document.frmUpload.corsNo.value == "") {
					  alert("과정을 선택해주세요");
					  return;
				  }
				  if(excelFile.files.length === 0){
				    alert("파일은 선택해주세요");
				    return;
				  }

				  const formData = new FormData(document.frmUpload)
				  
				  $.ajax({
				    type:"POST",
				    url: "/batchReg",
				    processData: false,
				    contentType: false,
				    data: formData,
				    success: function(rtn){
				    	if(rtn.result) {
				    		console.log(rtn.cnt + " 건 등록완료")
				    	} else {
							alert(rtn.msg)
				    	}
				    },
				    err: function(err){
				      console.log("err:", err)
				    }
				  })
			 });
		}
	})
	
	</script>
</th:block>